<div>
    <button (click)="clickOnStar(1)"><mat-icon class="selected-star-icon" appStars>star</mat-icon></button>
    <button (click)="clickOnStar(2)"><mat-icon class="selected-star-icon" appStars>star</mat-icon></button>
    <button (click)="clickOnStar(3)"><mat-icon class="selected-star-icon" appStars>star</mat-icon></button>
    <button (click)="clickOnStar(4)"><mat-icon class="unselected-star-icon" appStars>star</mat-icon></button>
    <button (click)="clickOnStar(5)"><mat-icon class="unselected-star-icon" appStars>star</mat-icon></button>
</div>
