<p>profit works!</p>

    <!-- <gmp-map
      center="37.4220656,-122.0840897"
      zoom="10"
      map-id="DEMO_MAP_ID"
    ></gmp-map> -->

    <!-- 
      The `defer` attribute causes the callback to execute after the full HTML
      document has been parsed. For non-blocking uses, avoiding race conditions,
      and consistent behavior across browsers, consider loading using Promises.
      See https://developers.google.com/maps/documentation/javascript/load-maps-js-api
      for more information.
      -->
    <!-- <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=beta"
      defer
    ></script> -->
    <h1>How to Integrate Google Maps in Angular 16 - ItSolutionStuff.com</h1>
  
    <!-- <google-map height="500px"
                width="900px"
                [center]="center"
                [zoom]="zoom"
                (mapClick)="moveMap($event)"
                (mapMousemove)="move($event)">
    </google-map> -->
      
    <div>Latitude: {{display?.lat}}</div>
    <div>Longitude: {{display?.lng}}</div>