:host {
    .hovered {
        background: rgba(245, 248, 251, 1);
    }

    .highlighted {
       // background: rgba(207, 220, 236, 0.25);
        background:rgba(245, 248, 251, 1);;

    }

    .width {
        width: 16.66%;
    }
    th{
        width: 16.66%;
    }
    #ngcontainer{
        width: 16.66%;
    }
    ng-container{
        width: 16.66%;
    }
    #header{
        width: 50%;
    }
    #table{
        width: 50%;
    }
    .mdc-data-table__table {
        width: 50%;
    }
    //     /*
    //   This is a work around for checkbox bug in material row
    //   https://github.com/angular/material2/issues/8600
    // */
    //     mat-cell.mat-cell,
    //     mat-header-cell.mat-header-cell {
    //         overflow: visible;
    //     }
    // tr{
    //     width: 100%;
    // }
    ::ng-deep{
        .mat-mdc-table tbody, .mat-mdc-table tfoot, .mat-mdc-table thead, .mat-mdc-cell, .mat-mdc-footer-cell, .mat-mdc-header-row, .mat-mdc-row, .mat-mdc-footer-row, .mat-mdc-table .mat-mdc-header-cell{
            max-width: 5vw;
        }
        mat-mdc-cell mdc-data-table__cell cdk-cell cdk-column-location mat-column-location ng-star-inserted{
            background-color: aqua;
        }
        .mat-sort-header-content{
            flex-direction: column;
            // text-align: left;
            // justify-content: left;
            max-width: 9vw;
        }
        .mat-sort-header-content span{
            // flex-direction: column;
            text-align: center;
            justify-content: center;
            right: 0px;
            
        }
        .mat-sort-header-container{
            flex-direction: column;
        }
    }
    mat-spinner{
        margin-left: 25vw;
    }
}