:host {
    .hovered {
        background: rgba(245, 248, 251, 1);
    }

    .highlighted {
       // background: rgba(207, 220, 236, 0.25);
        background:rgba(245, 248, 251, 1);;

    }

    .width {
        width: 16.66%;
    }

    //     /*
    //   This is a work around for checkbox bug in material row
    //   https://github.com/angular/material2/issues/8600
    // */
    //     mat-cell.mat-cell,
    //     mat-header-cell.mat-header-cell {
    //         overflow: visible;
    //     }
}