@use '@angular/material' as mat;
@include mat.core();
$my-primary: mat.define-palette(mat.$pink-palette, 500);
$my-accent: mat.define-palette(mat.$yellow-palette, A200, A100, A400);
$my-theme: mat.define-light-theme(( color: ( primary: $my-primary, accent: $my-accent, ), typography: mat.define-typography-config( $font-family: Poppins)));
@include mat.all-component-themes($my-theme);
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'scss/theme.scss';
$dark-1: #140F4B;
$blue-2:#757294;
$gray-1: #D3E0EB;
$gray-2:#F6F9FC;
$primary:$blue-2;
$white: #fff;
$background:$gray-2;
:root {
    // --mdc-icon-button-state-layer-size: 78px !important;
}

html {
    --mat-toolbar-title-text-size: 25px;
    --mat-toolbar-title-text-weight: 700;
    --mat-expansion-container-background-color: transparent;
    --mat-expansion-container-shape: 0 !important;
    --mat-expansion-container-text-color: #fff !important;
}

html,
body {
    height: 100%;
    color: $primary;
    background: $background;
}

a {
    color: #fff;
}

.mat-mdc-list-base {
    --mdc-list-list-item-label-text-color: #fff !important;
    --mdc-list-list-item-hover-label-text-color: #fff !important;
}

.mat-mdc-form-field {
    width: 100%;
}

mat-slider {
    width: 90% !important;
}

.mat-mdc-card-header {
    margin-bottom: 15px;
    justify-content: center;
}

.mat-drawer {
    --mat-sidenav-container-background-color: #140F4B;
}

.mat-expansion-panel {
    --mat-expansion-container-shape: 0 !important;
}

.mat-toolbar.mat-accent {
    --mat-toolbar-container-background-color: #F6F9FC;
    --mat-toolbar-container-text-color: rgba(0, 0, 0, 0.87);
}

.mat-mdc-card {
    --mat-card-title-text-size: 18px !important;
    --mat-card-title-text-weight: 700 !important;
    --mdc-elevated-card-container-shape: 20px !important;
}

.mat-mdc-header-row {}

.mat-mdc-icon-button.mat-mdc-button-base {
    // --mdc-icon-button-state-layer-size: 78px !important;
}

.mat-mdc-header-cell {
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 173.9%;
    /* 19.129px */
    text-transform: uppercase;
}

.mat-mdc-cell {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 232.9%;
    /* 30.277px */
}

.mat-mdc-button.mat-unthemed {
    --mdc-text-button-label-text-color: #fff;
}

.mdc-button {
    --mdc-typography-font-family: Poppins, sans-serif;
    --mdc-typography-button-font-size: 14px;
    --mdc-typography-button-line-height: 36px;
    --mdc-typography-button-font-weight: 600;
    --mdc-text-button-container-shape: 10px;
    background: linear-gradient(0deg, #E40200 0%, #E40200 100%) !important;
}

.mdc-button__ripple {
    background-image: url('assets/images/gradient.svg') !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}